__pycache__/
.DS_Store
*.egg-info/
.vscode/
.env
.venv
.idea/
evaluate-public-models/human-eval/
datasets/generated/
tmp/
natgen/transformations/my-languages_dot.so
natgen/treesitter/build/
natgen/treesitter/tree-sitter-python/
natgen/treesitter/tree-sitter-go/
natgen/treesitter/tree-sitter-javascript/
natgen/treesitter/tree-sitter-cpp/
natgen/treesitter/tree-sitter-java/
humaneval-x/
testing.py
*~
